<div
  class="modal fade"
  id="updateMongo"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Update Mongo Batch</h5>
        <a
          href="{% url 'mongo:mongo_list' %}"
          class="btn-close"
          aria-label="Close"
        ></a>
      </div>
      <form action="/app/v1/update-mongo" method="post"  name="myForm"  onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="modal-body">
          <div class="mb-3" style="display: none;">
            <label for="mongo_id" class="form-label"
              >ID  :
            </label>
            <input
              type="number"
              class="form-control"
              id="mongo_id"
              name="mongo_id"
              readonly
            />
            <input
              type="number"
              class="form-control"
              id="inventory_id"
              name="inventory_id"
              readonly
            />
          </div>
          <div class="mb-3">
            <label for="update_batch_no" class="form-label"
              >MID To Update  :
            </label>
            <input
              type="number"
              class="form-control"
              id="update_batch_no"
              name="update_batch_no"

            />
          </div>
          <div class="mb-3">
            <label for="update_date_received" class="form-label"
              >Date Received :
            </label>
            <input
              type="date"
              class="form-control"
              id="update_date_received"
              name="update_date_received"

            />
          </div>
          <div class="mb-3">
            <label for="update_total_avail_volume" class="form-label"
              >Total Available Volume :
            </label>
            <input
              type="number"
              class="form-control"
              id="update_total_avail_volume"
              name="update_total_avail_volume"

            />
          </div>
          <div class="mb-3">
            <label for="updateAmountConsumed" class="form-label"
              >Amount Consumed :
            </label>
            <input
              type="number"
              class="form-control"
              id="updateAmountConsumed"
              id="update_amount_consumed"
              name="update_amount_consumed"
            />
          <small class="text-danger" id="validateAmountConsumed" style="display: none;">This field is required</small>
            <div class="invalid-feedback">
                This field is required
            </div>
          </div>
          <div class="mb-3">
            <label for="updateDateConsumed" class="form-label"
              >Date Consumed :
            </label>
            <input
              type="date"
              class="form-control"
              id="updateDateConsumed"
              id="update_date_consumed"
              name="update_date_consumed"
            />
            <small class="text-danger" id="validateDateConsumed" style="display: none;">This field is required</small>
          </div>
        </div>
        <div class="modal-footer">
          <a
            href="{% url 'mongo:mongo_list' %}"
            class="btn btn-secondary"
          >
            Cancel
          </a>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
function validateForm() {
    const amountConsumed = document.forms["myForm"]["update_amount_consumed"].value;
    const dateConsumed = document.forms["myForm"]["update_date_consumed"].value;
    const validateDateConsumed = document.getElementById("validateDateConsumed");
    const validateAmountConsumed = document.getElementById("validateAmountConsumed");

    if (amountConsumed !== "" ) {
    {#validateDateConsumed.style.display = "block";#}
    {#return false;#}
  } else if ( dateConsumed !== "") {
    {#validateAmountConsumed.style.display = "block";#}
    {#return false;#}
    }
}
</script>