{% extends 'template.html' %} {% block body %}
{% include "datatables.html" %}

<h3>Mongo Products Inventory</h3>

<a
  href="{% url 'dashboard:dashboard' %}"
  class="text-primary text-decoration-none"
  >
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
</svg>
    Go back to Inventory Menu
</a
>
<br />
{% if total == 0 %}
  <div class="alert alert-danger d-flex align-items-center mt-3" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      There are no available mongo left in the inventory. Click <u
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">here</u>  to add
    </div>
  </div>
{% endif %}
<div
  class="card shadow mt-2"
  style="max-width: 300px; background-color: #003871; color: white"
>
  <div class="card-body">
    <h4 class="display-4">{{ total }}</h4>
    <p style="font-size: 12px">
      Total Available Volume of Mongo as of {{ date }}
    </p>
  </div>
</div>
<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-sm mt-4"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
  style="
    background-color: #003871;
    color: white;
    font-size: 12px;
    font-weight: bold;
  "
>
  Add Mongo Batch
</button>

<div class="card shadow mt-3" style="font-size: 12px">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm text-center" id="mongoTable">
        <thead>
          <tr>
            <th scope="col">MID</th>
            <th scope="col">Date Received</th>
            <th scope="col">Total Available Volume</th>
            <th scope="col">Amount Consumed</th>
            <th scope="col">Date Consumed</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for list in mongo %}
          <tr>
            <td>{{ list.batch_no }}</td>
            <td>{{ list.date_received }}</td>
            {% for consumed in list.mongo_inventory.all %}
            <td>
              {% if consumed.total_avail_volume < 0 %}
                <div class="text-danger">{{ consumed.total_avail_volume }}</div>
              {% else %}
              <div>{{ consumed.total_avail_volume }}</div>
              {% endif %}
            </td>
            
            
            <td>{{ consumed.amount_consumed|default_if_none:"-" }}</td>
            <td>{{ consumed.date_consumed|default_if_none:"-" }}</td>
            <td>
              {% if consumed.amount_consumed != None and consumed.date_consumed != None %}
              <span
                type="button"
                class="badge disabled"
                onclick="editMongoData(
                  id='{{ list.mongo_id }}',
                  mongo_id='{{ list.id }}',
                  batch_no='{{ list.batch_no }}',
                  date_received='{{ list.date_received }}' ,
                  total_avail_volume='{{ consumed.total_avail_volume }}',
                  amount_consumed='{{ consumed.amount_consumed}}',
                  date_consumed='{{ consumed.date_consumed }}')"
                style="
                  color: #003871;
                  font-size: 12px;
                  font-weight: bold;
                  padding: 5px;
                "
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
              </span>
              {% else %}
              <span
                type="button"
                class="badge"
                onclick="getMongoData(
                  id='{{ list.mongo_id }}',
                  mongo_id='{{ list.id }}',
                  batch_no='{{ list.batch_no }}',
                  date_received='{{ list.date_received }}' ,
                  total_avail_volume='{{ list.total_avail_volume }}',
                  amount_consumed='{{ list.amount_consumed}}',
                  date_consumed='{{list.date_consumed }}')"
                style="
                  background-color: #003871;
                  color: white;
                  font-size: 12px;
                  font-weight: bold;
                "
                data-bs-toggle="modal"
                data-bs-target="#updateMongo"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </span>
              {% endif %}
{#              <span#}
{#                type="button"#}
{#                class="badge disabled"#}
{#                onclick="deleteMongoData(#}
{#                  id='{{ list.mongo_id }}',#}
{#                  mongo_id='{{ list.id }}')"#}
{#                style="#}
{#                  background-color: #cb2329;#}
{#                  color: white;#}
{#                  font-size: 12px;#}
{#                  font-weight: bold;#}
{#                  padding: 5px;#}
{#                "#}
{#                data-bs-toggle="modal"#}
{#                data-bs-target="#deleteMongo"#}
{#              >#}
{#                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">#}
{#                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>#}
{#                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>#}
{#                </svg>#}
{#              </span>#}
            </td>
            {% empty %}
            <td> {{ list.total_avail_volume }} </td>
            <td> - </td>
            <td> - </td>
            
            <td>
              {% if consumed.amount_consumed != None and consumed.date_consumed != None %}
              <span
                type="button"
                class="badge"
                onclick="getMongoData(
                  id='{{ list.mongo_id }}',
                  mongo_id='{{ list.id }}',
                  batch_no='{{ list.batch_no }}',
                  date_received='{{ list.date_received }}' ,
                  total_avail_volume='{{ list.total_avail_volume }}',
                  amount_consumed='{{ consumed.amount_consumed}}',
                  date_consumed='{{ consumed.date_consumed }}')"
                style="
                  background-color: #003871;
                  color: white;
                  font-size: 12px;
                  font-weight: bold;
                  padding: 5px;
                "
                data-bs-toggle="modal"
                data-bs-target="#updateMongo"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </span>
              {% else %}
              <span
                type="button"
                class="badge"
                onclick="getMongoData(
                  id='{{ list.mongo_id }}',
                  mongo_id='{{ list.id }}',
                  batch_no='{{ list.batch_no }}',
                  date_received='{{ list.date_received }}' ,
                  total_avail_volume='{{ list.total_avail_volume }}',
                  amount_consumed='{{ list.amount_consumed}}',
                  date_consumed='{{list.date_consumed }}')"
                style="
                  background-color: #003871;
                  color: white;
                  font-size: 12px;
                  font-weight: bold;
                  padding: 5px;
                "
                data-bs-toggle="modal"
                data-bs-target="#updateMongo"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </span>
              {% endif %}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
{% include "modal/add_mongo.html" %}
{% include "modal/update_mongo.html" %}
{% include "modal/delete_mongo.html" %}
{% include "modal/edit_mongo.html" %}

<script>
function formatDate(date) {
  var d = new Date(date),
      month = '' + (d.getMonth() + 1),
      day = '' + d.getDate(),
      year = d.getFullYear();

  if (month.length < 2)
      month = '0' + month;
  if (day.length < 2)
      day = '0' + day;

  return [year, month, day].join('-');
}

  function getMongoData(
    id,
    mongo_id,
    batch_no,
    date_received,
    total_avail_volume,
    amount_consumed,
    date_consumed
  ) {
    console.log(id);
    document.getElementById("update_batch_no").value = batch_no;
    document.getElementById("update_date_received").value = formatDate(date_received) ;
    document.getElementById("update_total_avail_volume").value =
      total_avail_volume;
    document.getElementById("mongo_id").value = mongo_id;
    document.getElementById("inventory_id").value = id;
  }

    function deleteMongoData(
    id,
    mongo_id
  ) {
    document.getElementById("delete_mongo_id").value = mongo_id;
    document.getElementById("delete_inventory_id").value = id;
  }

    function editMongoData(
    id,
    mongo_id,
    batch_no,
    date_received,
    total_avail_volume,
    amount_consumed,
    date_consumed
  ) {
    console.log(id);
    document.getElementById("edit_batch_no").value = batch_no;
    document.getElementById("edit_date_received").value = formatDate(date_received) ;
    document.getElementById("edit_total_avail_volume").value =
      total_avail_volume;
    document.getElementById("edit_mongo_id").value = mongo_id;
    document.getElementById("edit_inventory_id").value = id;
    document.getElementById("edit_AmountConsumed").value = amount_consumed;
    document.getElementById("edit_DateConsumed").value = formatDate(date_consumed);
  }
</script>
<script>
  $(document).ready(function () {
    $("#mongoTable").DataTable({
      lengthMenu: [
        [5, 10, 25, 50, -1],
        [5, 10, 25, 50, "All"],
      ],
      fixedHeader: true,
    });
  });
</script>

{% endblock %}
