<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Market</h5>
        <a
          href="{% url 'market:market_list' %}"
          class="btn-close"
          aria-label="Close"
        ></a>
      </div>
      <form action="/app/v1/add-market" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <div class="mb-3">
            <label for="cust_name" class="form-label"
              >Customer Name  :
            </label>
            <input
              type="text"
              class="form-control"
              id="cust_name"
              name="cust_name"
            />
          </div>
          {% comment %} <div class="mb-3">
            <label for="lot_code" class="form-label"
              >Lot Code : 
            </label>
            <input
              type="number"
              class="form-control"
              id="lot_code"
              name="lot_code"
            />
          </div> {% endcomment %}
          <div class="mb-3">
            <label for="batch_no_extrudate" class="form-label"
              >Extrudate Batch No. : 
            </label>
            <select class="form-select" name="batch_no_extrudate" id="batch_no_extrudate">
                <option selected>Select Extrudate Batch No. </option>
              {% for extrudate in extrudate %}
                <option value="{{extrudate}}">{{extrudate}}</option>
              {% endfor %}
              </select>
          </div>
          <div class="mb-3">
            <label for="batch_no_fried" class="form-label"
              >Fried/Packed Batch No. : 
            </label>
            <select class="form-select" name="batch_no_fried" id="batch_no_fried">
                <option selected>Select Fried/Packed  Batch No. </option>
              {% for fried in fried %}
                <option value="{{fried}}">{{fried}}</option>
              {% endfor %}
              </select>
          </div>
          <div class="mb-3">
            <label for="date_delivered" class="form-label"
              >Date Delivered :
            </label>
            <input
              type="date"
              class="form-control"
              id="date_delivered"
              name="date_delivered"
            />
          </div>
        </div>
        <div class="modal-footer">
          <a
            href="{% url 'market:market_list' %}"
            class="btn btn-secondary"
          >
            Cancel
          </a>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>