    
    <div class="col-sm col-md-4 col-lg-4">
           <h3>Dashboard</h3>
        <div class="card shadow card-menu  mt-5" onclick="showMongo()">
            <div class="card-body">
               <h5 >View Mongo Inventory</h5>
               <small>View mongo inventory</small>
            </div>
          </div>

          <div class="card shadow mt-3 card-menu" onclick="showRice()">
            <div class="card-body ">
               <h5 >View Rice Inventory</h5>
               <small>View rice inventory</small>
            </div>
          </div>

          <div class="card shadow mt-3 card-menu" onclick="showSesame()">
            <div class="card-body">
               <h5 >View Sesame Inventory</h5>
               <small>View sesame inventory</small>
            </div>
          </div>

          <div class="card shadow mt-3 card-menu" onclick="showMarket()">
            <div class="card-body">
               <h5 >View Extrudate Inventory</h5>
               <small>View extrudate inventory</small>
            </div>
          </div>
        </div>
    </div>

