{% load static %}
<link
  href="{% static 'datatables/css/bootstrap.css' %}"
  rel="stylesheet"
/>
<link
  href="{% static 'datatables/css/dataTables.bootstrap4.min.css' %}"
  rel="stylesheet"
/>
<link
  href="{% static 'datatables/css/fixedHeader.bootstrap4.min.css' %}"
  rel="stylesheet"
/>


<script src="{% static 'datatables/js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/js/dataTables.fixedHeader.min.js' %}"></script>