{% extends 'template.html' %} {% block body %} {% block extrastylesheet %}
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"
  rel="stylesheet"
/>
<link
  href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css"
  rel="stylesheet"
/>
<link
  href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.bootstrap4.min.css"
  rel="stylesheet"
/>
{% endblock extrastylesheet %}

<h3>Extrudates Inventory</h3>

<a
  href="{% url 'dashboard:dashboard' %}"
  class="text-primary text-decoration-none"
  ><i class="fas fa-arrow-left" aria-hidden="false"></i>&nbsp; Go back to
  Inventory Menu</a
>
<br />
{% if total == 0 %}
  <div class="alert alert-danger d-flex align-items-center mt-3" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      There are no available extrudate left in the inventory. Click <u
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">here</u>  to add
    </div>
  </div>
{% endif %}
<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-sm mt-4"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
  style="
    background-color: #003871;
    color: white;
    font-size: 12px;
    font-weight: bold;
  "
>
  Add Extrudate
</button>
<div class="card shadow mt-3" style="font-size: 12px">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm text-center" id="mongoTable">
        <thead>
          <tr>
            <th scope="col">EXTID</th>
            <th scope="col">Date Produced</th>
            <th scope="col">Total Volume (kg.) </th>
            <th scope="col">Batch No. of Mongo</th>
            <th scope="col">Batch No. of Rice</th>
            <th scope="col">Batch No. of Sesame</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for list in extrudate %}
          <tr>
            <td>{{ list.batch_no|default_if_none:"-" }}</td>
            <td>{{ list.date_produced|default_if_none:"-" }}</td>
            <td>{{ list.total_volume|default_if_none:"-" }}</td>    
            <td>{{ list.mongo_batch_no|default_if_none:"-" }}</td>
            <td>{{ list.rice_batch_no|default_if_none:"-" }}</td>
            <td>{{ list.sesame_batch_no|default_if_none:"-" }}</td>
            <td>
              {% comment %} {% if consumed.amount_consumed != None and consumed.date_consumed != None %} {% endcomment %}
              <span
                type="button"
                class="badge"
                onclick="getMongoData(
                  id='{{ list.mongo_id }}',
                  mongo_id='{{ list.id }}',
                  batch_no='{{ list.batch_no }}', 
                  date_received='{{ list.date_received }}' , 
                  total_avail_volume='{{ list.total_avail_volume }}',
                  amount_consumed='{{ list.amount_consumed}}',
                  date_consumed='{{list.date_consumed }}')"
                style="
                  background-color: #003871;
                  color: white;
                  font-size: 12px;
                  font-weight: bold;
                "
                data-bs-toggle="modal"
                data-bs-target="#updateMongo"
              >
                Update
              </span>
              {% comment %} {% endif %} {% endcomment %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
{% include "modal/add_extrudate.html" %} {% include "modal/update_extrudate.html" %}

<script>
  function getMongoData(
    id,
    mongo_id,
    batch_no,
    date_received,
    total_avail_volume,
    amount_consumed,
    date_consumed
  ) {
    console.log(id);
    document.getElementById("update_batch_no").value = batch_no;
    document.getElementById("update_date_received").value = date_received;
    document.getElementById("update_total_avail_volume").value =
      total_avail_volume;
    document.getElementById("mongo_id").value = mongo_id;
    document.getElementById("inventory_id").value = id;
  }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>

<script>
  $(document).ready(function () {
    $("#mongoTable").DataTable({
      lengthMenu: [
        [5, 10, 25, 50, -1],
        [5, 10, 25, 50, "All"],
      ],
      fixedHeader: true,
    });
  });
</script>

{% endblock %}
