{% extends 'template.html' %} {% block body %}

<div id="menuDashboard" style="display: none;">{% include 'menu/dashboard_menu.html' %}</div>
<div class="container-fluid" id="graph">
    <h3> Inventory Dashboard</h3>
    <hr>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="{% url 'dashboard:inventory' %}" class="btn btn-primary me-md-2 btn-sm mb-4" >View Inventory Menu</a>
    </div>
  <div class="row">
      <div class="card shadow">
          <div class="card-body">
              {% include "charts/inventory.html" %}
          </div>
      </div>
     <div class="card shadow mt-5">
          <div class="card-body">
              {% include "charts/fried_graph.html" %}
          </div>
      </div>
           <div class="card shadow mt-5">
          <div class="card-body">
              {% include "charts/market_graph.html" %}
          </div>
      </div>
  </div>
</div>
{% endblock %}
