{% extends 'template.html' %} {% block body %}

<style>
  .card-menu:hover {
    background-color: #1b58fd;
    color: white;
  }
</style>
<div class="container">
  <div class="row">
    <div id="menuDashboard">{% include 'menu/dashboard_menu.html' %}</div>

    <div id="riceDashboard" style="display: none">
      {% include 'dashboard/rice/rice_table.html' %}
    </div>

    <div id="sesameDashboard" style="display: none">
      {% include 'dashboard/sesame/sesame_table.html' %}
    </div>

    <div id="marketDashboard" style="display: none">
      {% include 'dashboard/market/market_table.html' %}
    </div>
  </div>
</div>
<script>
  function showMongo() {
    
    var mongoInventory  = "{% url 'mongo:mongo_list' %}";
    document.location.href = mongoInventory;

  }
  function showRice() {
     var riceInventory  = "{% url 'rice:rice_list' %}";
    document.location.href = riceInventory;
  }
  function showSesame() {
    var sesameInventory  = "{% url 'sesame:sesame_list' %}";
    document.location.href = sesameInventory;
  }
  function showMarket() {
    var extrudateInventory  = "{% url 'extrudate:extrudate_list' %}";
    document.location.href = extrudateInventory;
  }
</script>
{% endblock %}
