{% extends 'template.html' %} {% block body %}
{% include "datatables.html" %}

<h3>Batch Fried/Packed Inventory</h3>

<a
  href="{% url 'dashboard:dashboard' %}"
  class="text-primary text-decoration-none"
  >
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
</svg>
    Go back to Inventory Menu
</a>
<br />
<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-sm mt-4"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
  style="
    background-color: #003871;
    color: white;
    font-size: 12px;
    font-weight: bold;
  "
>
  Add Fried/Packed
</button>
<div class="card shadow mt-3" style="font-size: 12px">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm text-center" id="mongoTable">
        <thead>
          <tr>
            <th scope="col">FPID</th>
            <th scope="col">Date Fried/Packed</th>
            <th scope="col">No. of Packs (15g)</th>
            <th scope="col">No. of Packs (30g)</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for list in fried %}
          <tr>
            <td>{{ list.batch_no|default_if_none:"-" }}</td>
            <td>{{ list.date_fried|default_if_none:"-" }}</td>
            <td>{{ list.no_of_packs_15g|default_if_none:"-" }}</td>
            <td>{{ list.no_of_packs_30g|default_if_none:"-" }}</td>
            <td>
              {% comment %} {% if consumed.amount_consumed != None and consumed.date_consumed != None %} {% endcomment %}
              <span
                type="button"
                class="badge"
                onclick="getFriedData(
                  id='{{ list.id }}',
                  batch_no='{{ list.batch_no }}', 
                  date_fried='{{ list.date_fried }}',
                  no_of_packs_15g='{{ list.no_of_packs_15g }}',
                  no_of_packs_30g='{{ list.no_of_packs_30g }}')"
                style="
                  background-color: #003871;
                  color: white;
                  font-size: 12px;
                  font-weight: bold;
                "
                data-bs-toggle="modal"
                data-bs-target="#updateFried"
              >
                Update
              </span>
              {% comment %} {% endif %} {% endcomment %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
{% include "modal/add_fried.html" %} {% include "modal/update_fried.html" %}

<script>
function formatDate(date) {
  var d = new Date(date),
      month = '' + (d.getMonth() + 1),
      day = '' + d.getDate(),
      year = d.getFullYear();

  if (month.length < 2) 
      month = '0' + month;
  if (day.length < 2) 
      day = '0' + day;

  return [year, month, day].join('-');
}

  function getFriedData(
    id,
    batch_no,
    date_fried,
    no_of_packs_15g,
    no_of_packs_30g
  ) {
    document.getElementById("update_batch_no").value = batch_no;
    document.getElementById("update_date_fried").value = formatDate(date_fried);
    document.getElementById("fried_id").value = id;
    document.getElementById("update_no_of_packs_15g").value = no_of_packs_15g;
    document.getElementById("update_no_of_packs_30g").value = no_of_packs_30g;
  }
</script>

<script>
  $(document).ready(function () {
    $("#mongoTable").DataTable({
      lengthMenu: [
        [5, 10, 25, 50, -1],
        [5, 10, 25, 50, "All"],
      ],
      fixedHeader: true,
    });
  });
</script>

{% endblock %}
